<<<<<<< HEAD
.row{
	height: 1000px;
	
}

h1{
	font-family: Arial;
	font-size:175%;
	color:#4CAF50;
	font-weight: bold;
	margin:1.5%;
}
h3{
	text-align:center;
	font-size: 120%;
	font-weight:bold;
	position:relative;
	padding: 3px 5px;
	margin:10px;
	}
#chicken{
	background-color:lightgrey;
	padding: 1.5%;
}
#beef{
	background-color:lightgrey;
	padding:1.5%;
	
}
#sushi{
	background-color:lightgrey;
	padding:1.5%;
}
.col-md-12{
	padding-top:30px;
}
.col-xs-12{
	padding-top: 30px;
	
}
=======

>>>>>>> 76ca894f08bcc136d33cf7074abcbe419c0dccf6
